@model ATMUserModel

<div class="container">
    <h2>Deposit</h2>

    <form method="post" action="/ATM/Deposit/@Model.UserId">
        <div class="form-group">
            <label for="Balance">Deposit Amount:</label>
            <input type="text" id="Balance" name="amount" required>
        </div>
        <button type="submit" class="btn btn-primary" id="btnSave">Deposit</button>
    </form>
</div>
@section scripts {
    <script>
        $('#btnSave').click(function (e) {
            e.preventDefault();

            var l = Ladda.create(this);
            l.start();

            var _reqModel = {
                Balance: $('#Balance').val(),
            };

            $.ajax({
                url: '/ATM/Deposit/@Model.UserId',
                type: 'POST',
                data: _reqModel,
                success: function (data) {
                    l.stop();
                    showMessage(data, "/ATM/MainMenu/@Model.UserId");
                },
                error: function (request, status, error) {
                    console.log({ request, status, error });
                }
            });

        })
    </script>
}

