@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <h2>Login</h2>

    <form method="post" action="/ATM/Login">
        <div class="form-group">
            <label for="CardNumber">Card Number:</label>
            <input type="text" id="CardNumber" name="CardNumber" required>
        </div>
        <div class="form-group">
            <label for="Pin">Pin:</label>
            <input type="password" id="Pin" name="Pin" required>
        </div>
        <button type="submit">Login</button>
        <div class="row"></div>
        <div class="form-group">
            <label>Do you have account. If not, please create <a href="/ATM/Register">Register account</a></label>
        </div>
    </form>

</div>
