@model ATMUserModel

<div class="container">

    <h2 style="margin-bottom: 10px;">Main Menu</h2>
    <p style="margin-top: 10px;">Welcome,<strong>@Model.FirstName @Model.LastName!</strong> </p>
    <p>Your Card Number : <strong>@Model.CardNumber</strong></p>
    <div>
        <a class="btn btn-warning" href="/ATM/Withdraw/@Model.UserId">Withdraw</a>
        <a class="btn btn-info" href="/ATM/Deposit/@Model.UserId">Deposit</a>
        <a class="btn btn-primary" href="/ATM/CheckBalance/@Model.UserId">Check Balance</a>
        <a class="btn btn-danger" href="/ATM/Login">Exit</a>
    </div>
</div>
