@model ATMUserModel

<div class="container">
    <h2>Register</h2>

    <form method="post" action="/ATM/Register">
        <div class="form-group">
            <label for="FirstName">First Name:</label>
            <input type="text" id="FirstName" name="FirstName" required>
        </div>
        <div class="form-group">
            <label for="LastName">Last Name:</label>
            <input type="text" id="LastName" name="LastName" required>
        </div>
        <div class="form-group">
            <label for="CardNumber">Card Number:</label>
            <input type="text" id="CardNumber" name="CardNumber" required>
        </div>
        <div class="form-group">
            <label for="Pin">Pin:</label>
            <input type="password" id="Pin" name="Pin" required>
        </div>
        <button type="submit" class="btn btn-primary" id="btnSave">Register</button>
    </form>
</div>
@section scripts {
    <script>
        $('#btnSave').click(function (e) {
            e.preventDefault();

            var l = Ladda.create(this);
            l.start();

            var _reqModel = {
                FirstName: $('#FirstName').val(),
                LastName: $('#LastName').val(),
                CardNumber: $('#CardNumber').val(),
                Pin: $('#Pin').val(),
            };

            $.ajax({
                url: '/ATM/Register',
                type: 'POST',
                data: _reqModel,
                success: function (data) {
                    l.stop();
                    showMessage(data, "/ATM/Login");
                },
                error: function (request, status, error) {
                    console.log({ request, status, error });
                }
            });

        })
    </script>
}
