@model BlogResponseModel
@{
	ViewData["Title"] = "BlogRefit Edit";
}

<form action="/blogrefit/update?id=@Model.Data.BlogId" method="post">
	<div class="mb-3">
		<label class="form-label">Title</label>
		<input type="text" name="BlogTitle" value="@Model.Data.BlogTitle" class="form-control">
	</div>
	<div class="mb-3">
		<label class="form-label">Author</label>
		<input type="text" name="BlogAuthor" value="@Model.Data.BlogAuthor" class="form-control">
	</div>
	<div class="mb-3">
		<label class="form-label">Content</label>
		<input type="text" name="BlogContent" value="@Model.Data.BlogContent" class="form-control">
	</div>
	<a href="/blogrefit" class="btn btn-secondary">Cancel</a>
	<button type="submit" class="btn btn-success">Update</button>
</form>